.base {
    composes: centered-horizontally from '../../shared/layout.css';

    max-width: 600px;
    min-width: 320px;
    padding: 0 10px;
}

.list {
    padding: 0;
    list-style-type: none;
}

.listItem {
    composes: margin-bottom from '../../shared/layout.css';
}
