.wrapper {
    border-radius: 4px;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
    background-color: white;
    overflow: hidden;
}

.coverImageWrapper {
    height: 180px;
}

.contentWrapper {
    composes: padding-all from "../../shared/layout.css";
}
